{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block contenido_ancho_total %}
<div class="container">
    <div class="post-sorting-options" style="margin-top: 20px;">
        <span style="font-weight: bold; margin-right: 15px;">Ordenar post</span>
        <a href="?order_by=reciente" class="filtro-btn {% if orden_actual == 'reciente' or not orden_actual %}activo{% endif %}">Nuevos</a>
        <a href="?order_by=antiguedad" class="filtro-btn {% if orden_actual == 'antiguedad' %}activo{% endif %}">Antiguos</a>
        <a href="?order_by=alfabetico_asc" class="filtro-btn {% if orden_actual == 'alfabetico_asc' %}activo{% endif %}">A-Z</a>
        <a href="?order_by=alfabetico_desc" class="filtro-btn {% if orden_actual == 'alfabetico_desc' %}activo{% endif %}">Z-A</a>
    </div>

    {% if post_destacado %}
    <section class="featured-section">
        <article class="featured__article">
            <div class="featured__content">
                <span class="featured__category">{{ post_destacado.categoria_post }}</span>
                <a href="{% url 'detalle_articulo' pk=post_destacado.id_post %}">
                    <h3 class="featured__heading">{{ post_destacado.titulo }}</h3></a>
                    <p>{{ post_destacado.resumen }}</p>
                <div class="post-card__meta">
                    <span class="post-card__author-meta"><i data-lucide="user" class="icon"></i>{{post_destacado.autor_post}}</span>
                    <span class="post-card__date-meta"><i data-lucide="calendar" class="icon"></i> {{ post_destacado.fecha_creacion|date:"d/m/Y" }}</span>
                    <span class="post-card__read-time-meta"><i data-lucide="clock" class="icon"></i>{{ post_destacado.fecha_creacion|naturaltime }}</span>
                    <span class="post-card__author-meta"><i data-lucide="message-circle" class="icon"></i>{{post_destacado.total_comentarios}} Comentarios</span>
                </div>
            </div>
            <div class="featured__media-container">
                <img src="{{ post_destacado.imagen_post.url }}" class="featured__image">
            </div>
        </article>
    </section>
    {% endif %}
    <hr style="border: 0; border-top: 1px solid #eee; margin: 30px 0;">
</div>
{% endblock %}

{% block contenido_principal %}
    <div class="posts-grid">
        {% for post in page_obj %}
        <article class="post-card">
            <div class="post-card__image-container">
                {% if post.imagen_post %}
                    <img src="{{ post.imagen_post.url }}" class="post-card__image" alt="{{ post.titulo }}">
                {% endif %}
            </div>
            <div class="post-card__content">
                <span class="post-card__category">{{ post.categoria_post }}</span>
                <a href="{% url 'detalle_articulo' post.id_post %}" style="text-decoration: none; color: inherit;">
                    <h3 class="post-card__heading">{{ post.titulo }}</h3>
                </a>
                <p class="post-card__excerpt">{{ post.resumen }}</p>
                
                <div class="post-card__meta">
                    <span class="post-card__author-meta"> <i data-lucide="user" class="icon"></i>{{post_destacado.autor_post}}</span>
                    <span><i data-lucide="calendar" class="icon"></i> {{ post.fecha_creacion|date:"d/m/Y" }}</span>
                    <span><i data-lucide="clock" class="icon"></i> {{ post.fecha_creacion|naturaltime }}</span>
                    <span  class="post-card__author-meta"> <i data-lucide="message-circle" class="icon"></i>{{post.total_comentarios}} Comentarios</span>
                </div>
            </div>
        </article>
        {% endfor %}

        {% if page_obj.has_other_pages %}
            <div class="pagination" style="margin-top: 30px; display: flex; justify-content: center; gap: 8px;">
        
        {% if page_obj.has_previous %}
            <a class="pagination-link" href="?page=1{% if orden_actual %}&order_by={{ orden_actual }}{% endif %}">&laquo;</a>
            <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}{% if orden_actual %}&order_by={{ orden_actual }}{% endif %}">&lsaquo;</a>
        {% else %}
            <span class="pagination-disabled">&laquo;</span>
            <span class="pagination-disabled">&lsaquo;</span>
        {% endif %}

        <span class="pagination-link active">
            {{ page_obj.number }}
        </span>
        
        {% if page_obj.has_next %}
            <a class="pagination-link" href="?page={{ page_obj.next_page_number }}{% if orden_actual %}&order_by={{ orden_actual }}{% endif %}">&rsaquo;</a>
            <a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}{% if orden_actual %}&order_by={{ orden_actual }}{% endif %}">&raquo;</a>
        {% else %}
            <span class="pagination-disabled">&rsaquo;</span>
            <span class="pagination-disabled">&raquo;</span>
        {% endif %}
        
    </div>
    {% endif %}
{% endblock %}